<section class="container">
    <div class="login">
      <h1>INSTAFER-Lock Escrow INRX</h1>
      
      <form>
          <p id="instructor"></p>
        <p><input type="text" id="lockescrowinrxaddresssender" placeholder="address Sender"></p>
        <p><input type="text" id="lockescrowinrxaddressreceiveragent" placeholder="address ReceiverAgent"></p>
        <p><input type="text" id="lockescrowinrxaddressreceiver" placeholder="address Receiver"></p>
        <p><input type="number" id="lockescroinrxamount" placeholder="amount"></p>
        
        <p class="submit"><input type="submit" id="lockescroinrxbtn" value="Lock Escrow"></p>
      </form>
    </div>
</section>