<section class="container">
    <div class="login">
      <h1>INSTAFER-Lock Escrow USDX</h1>
      
      <form method>
          <p id="instructor"></p>
        <p><input type="text" id="lockescrowusdxaddresssender" placeholder="address Sender"></p>
        <p><input type="text" id="lockescrowusdxaddressreceiveragent" placeholder="address ReceiverAgent"></p>
        <p><input type="text" id="lockescrowusdxaddressreceiver" placeholder="address Receiver"></p>
        <p><input type="number" id="lockescrowusdxaddressamount" placeholder="amount"></p>
        
        <p class="submit"><input type="submit" id="lockescrowusdxaddressbtn" value="Lock Escrow"></p>
      </form>
    </div>
</section>